@import url('https://fonts.googleapis.com/css?family=Barlow:300');

#navbar {
	text-align: center;
	background-color: rgb(211, 208, 208);
	height: 40px;
	padding-top: 6px;
	padding-right: 32px;
	position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
	left: 0px;
}
#navbar li {
	display: inline;
}
#navbar a {
	color: #706e6e;
	padding: 10px;
	font-size: 20px;
	text-decoration: none;
}
.outerBox {
	background-color: #f2f2f2;
	padding-bottom: 5%;
	padding-top: 40px;
}
.title {
	text-align: center;
	font-size: 60px;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
}
.titleTwo {
	text-align: center;
	font-size: 30px;
	font-family: 'Open Sans', sans-serif;
	font-style: italic;
}
.caption {
	text-align: center;
	font-size: 10px;
	font-family: Helvetica;
}
.imageBox {
	background-color: white;
	margin-left: 5%;
	margin-right: 5%;
	margin-bottom: 2%;
	padding-bottom: 1%;
	border-color: #d9d9d9;
	border-style: solid;
	border-width: thin;
	border-radius: 4px;
}
img {
	display: block;
	max-width: 75%;
	margin: auto;
	border-radius: 4px;
	padding-bottom: 1%;
}
.textBox {
	margin-left: 20%;
	margin-right: 20%;
}
.textbox ul {
	padding-bottom: 5%;
}
.textbox li {
	font-size: 14px;
	font-family: Helvetica;
}
.quoteText {
	border-left: none;
	font-size: 24px;
	font-family: 'Barlow', sans-serif;
	padding-left: 40px;
}
footer {
	font-style: italic;
}

.wiki {
	padding-left: 40px;
}
.wiki a:link {
	text-align: center;
	color: #0059b3;
	font-style: bold;
	font-family: Arial;
	text-decoration: none;
}