@import url('https://fonts.googleapis.com/css?family=Barlow:300');

#navUl {
	text-align: center;
	padding-left: 0px;
	padding-right: 17%;
	display: inline;
	position: fixed;
	z-index: 99999;
	top: 0;
	width: 100%;
}
.outerBox {
	background-color: #f2f2f2;
	padding-bottom: 5%;
	padding-top: 5%;
}
.title {
	text-align: center;
	font-size: 60px;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
}
.titleTwo {
	text-align: center;
	font-size: 30px;
	font-family: 'Open Sans', sans-serif;
	font-style: italic;
}
.caption {
	text-align: center;
	font-size: 10px;
	font-family: Helvetica;
}
.imageBox {
	background-color: white;
	margin-left: 5%;
	margin-right: 5%;
	margin-bottom: 2%;
	padding-bottom: 1%;
	border-color: #d9d9d9;
	border-style: solid;
	border-width: thin;
	border-radius: 4px;
}
img {
	display: block;
	max-width: 75%;
	margin: auto;
	border-radius: 4px;
	padding-bottom: 1%;
}
.textBox {
	margin-left: 20%;
	margin-right: 20%;
}
ul {
	padding-bottom: 5%;
}
li {
	font-size: 14px;
	font-family: Helvetica;
}
#blockquote {
	border-left: none;
	font-size: 24px;
	font-family: 'Barlow', sans-serif;
}
footer {
	font-style: italic;
}
a:link {
	text-align: center;
	color: #0059b3;
	font-style: bold;
	font-family: Arial;
}